<div class="container cont">
  <form>
    <div class="distance">
      <label for="className">Class name:</label>
      <input  required="required" id="className" name="className" type="text">
    </div>
    <div class="distance">
      <label for="teacherID">Teacher Id:</label>
      <input type="text" required="required" id="teacherID" name="teacherID">
    </div>
    <div class="distance">
      <label for="year">Year:</label>
      <input type="text" required="required" id="year" name="year">
    </div>
    <div class="distance">
      <label for="section">Section:</label>
      <input type="text" required="required" id="section" name="section">
    </div>
    <div class="but">
      <button class="btn btn-info" >Create class</button>
    </div>
  </form>
</div>
