

<div class=" container cont" [hidden]="isShowDiv">
  <form>
    <div class="form-group">
      <label >Select course:  </label>
      <select class="form-control" id = "selectCourse" >
        <option *ngFor="let course of courseNames" [selected]="course === classDTOobj.courseName" >{{course}}</option>
      </select>
    </div>

    <div class="form-group">
      <label >Select classroom:  </label>
      <select class="form-control"  id = "selectClassroom" [(ngModel)]="cap" name="cap">
        <option *ngFor="let room of clDetails" [selected]="room.name === classDTOobj.roomName" value="{{room.capacity}}" [innerText]="room.name">{{room.name}}</option>
      </select>
    </div>

    <div class="form-group pad">
      Classroom capacity: {{cap}}
    </div>

    <div class="form-group pad">
      <label>Start time:</label>
      <input type="datetime-local" id="startTime" name="startTime" [(ngModel)]="starttime">
    </div>

    <div class="form-group pad">
      <label>End time:  </label>
      <input type="datetime-local" id="endTime" name="endTime" [(ngModel)]="endtime" required="required">
    </div>
    <div class="form-group pad2 ">
      <button  class="btn btn-warning buto" id = "updateBtn" (click)="sendUpdates()" >Update</button>
      <button class="btn btn-info buto2 " (click)=toggleDisplayDiv() >Cancel</button>
      <button class="btn btn-danger toright" (click)="deleteSchedule()" >Delete</button>
    </div>
  </form>
</div>

<div class="container cont1" [hidden]="!isShowDiv">
  <div class="form-group pad">
    Numele clasei: <h2>{{classDTOobj.courseName}}</h2>
  </div>
  <div class="form-group pad">
    Sala: <b>{{classDTOobj.roomName}}</b>
  </div>
  <div class="form-group pad">
    Numele profesorului: <b>{{classDTOobj.teacherFirstName}} {{classDTOobj.teacherLastName}}</b>
  </div>
  <div class="form-group pad">
    Capacitatea maximă a sălii:{{classDTOobj.capacity}}
  </div>
  <div class="form-group pad">
    Sunt {{classDTOobj.studentsNumber}} înscrisi
  </div>
  <div class="form-group pad">
    Din {{classDTOobj.startDate| date:   'short': 'locale'}} în {{classDTOobj.endDate| date:'short':'locale'}}
  </div>
  <div class="form-group pad2 ">
    <button type="submit" class="btn btn-info" id = "enrollBtn">Enroll in class</button>
     <button class="btn btn-info toright" (click)=toggleDisplayDiv() >Modify Details</button>
  </div>
</div>
