<div class=" container cont">
  <form>
    <div class="form-group">
      <label >Select course:  </label>
      <select class="form-control">
        <option *ngFor="let course of courseNames" >{{course}}</option>
      </select>
    </div>

    <div class="form-group">
      <label >Select classroom:  </label>
      <select class="form-control"  >
        <option *ngFor="let room of clDetails" (click)="giveNumToCap(room.capacity)">{{room.name}}</option>
      </select>
    </div>

  <!--  {{cap}} -->
    <div class="form-group pad">
      <label>Start time:</label>
      <input type="datetime-local" id="startTime" name="startTime">
    </div>

    <div class="form-group pad">
      <label>End time:  </label>
      <input type="datetime-local" id="endTime" name="endTime">
    </div>
    <button type="submit" class="btn btn-primary button2">Enroll in class</button>
    <button type="submit" class="btn btn-primary button2">Update</button>

  </form>
</div>
