<div class="container cont">
  <form>
    <div class=" distance">
      <label for="classroomName">Nume sală:</label>
      <input  required="required" id="classroomName" name="classroomName" type="text">
    </div>
    <div class="distance">
      <label for="location">Locatie:</label>
      <input type="text" required="required" id="location" name="location">
    </div>
    <div class="distance">
      <label for="capacity">Capacitate:</label>
      <input type="text" required="required" id="capacity" name="capacity">
    </div>
    <div class="but">
      <button class="btn btn-info" >Create classroom</button>
    </div>

  </form>
</div>
