<div class="centerizedh" >
<button class="button button2 left" (click)="lastweek()">lastweek</button>
 <b class="datetitle"> {{thisweek[0]| date}} - {{thisweek[6]| date}}</b>
<button class="button button2 right" (click)="nextweek()">nextweek</button>
</div>

<div class="cont container-fluid" >
  <div class="row upper">
    <div class="ore days"></div>
    <div class="col days" *ngFor="let day of thisweek" >
      <h3> {{ day | date }} </h3>
    </div>
  </div>
  <div class="row" *ngFor="let hour of hours" >
    <div class="ore" >{{hour}}</div>
    <div class="col-sm emptys" *ngFor="let day of thisweek"   >
      <div class="colorat" *ngIf="eventIsNow(day, hour)"   routerLink="/class/{{event.id}}" (click) = "updateSchedule(event.id)">
        <b>Coursename:</b> {{event.courseName}}
        <b>Classroom</b> {{event.roomName}}
        <b>Teacher: </b> {{event.teacherFirstName.charAt(0)+'. '+ event.teacherLastName}}
        <b>Capacity:</b> {{event.capacity}} </div>

    </div>
  </div>
</div>


<!--
<div *ngFor="let classDTO of classDTOarray">
  <p>{{classDTO.courseName}}</p>
</div>
-->

<!--
<p *ngFor="let u of users">
  {{u.id + " " + u.lastName}}
</p>
-->
