<button (click)="nextweek()">nextweek</button>
<button (click)="lastweek()">lastweek</button>
<button (click)="datefunc()">console</button>
{{today}}
<div class="container" style="border-bottom: 1px solid">
  <div class="row">
    <div class="col-sm" style="border: 1px solid; "></div>
    <div class="col-sm" *ngFor="let day of thisweek" style="border: 1px solid">
      <h3> {{ day | date }} </h3>
    </div>
  </div>
  <div class="row" *ngFor="let hour of hours" >
    <div class="col-sm" style="border-left: 1px solid; border-right: 1px solid; height: 100px;" >{{hour}}</div>
    <div class="col-sm" *ngFor="let day of thisweek" style="border-left: 1px solid; border-right: 1px solid; height: 100px;"
         (click)="clickedhour(day, hour)"  >
      <b *ngIf="eventIsNow(day, hour)" > event is now </b>

    </div>
  </div>
</div>
<h2>day clicked is {{dayclick}} </h2>

<!--
<div *ngFor="let classDTO of classDTOarray">
  <p>{{classDTO.courseName}}</p>
</div>
-->

<!--
<p *ngFor="let u of users">
  {{u.id + " " + u.lastName}}
</p>
-->
