<div class="centerizedh" >
<button class="button button2 left" (click)="lastweek()">&#10094; lastweek</button>
 <b class="datetitle"> {{thisweek[0]| date}} - {{thisweek[6]| date}}</b>
<button class="button button2 right" (click)="nextweek()">nextweek &#10095;</button>
</div>

<div class="cont container-fluid" >
  <div class="row upper">
    <div class="ore days"></div>
    <div class="col days" *ngFor="let day of thisweek" >
      <b> {{ day | date:'fullDate' }} </b>
    </div>
  </div>
  <div class="row" *ngFor="let hour of hours" >
    <div class="ore" >{{hour}}:00</div>
    <div class="col-sm emptys" *ngFor="let day of thisweek"   >
      <div class="colorat" *ngIf="eventIsNow(day, hour) else elseblock"    >
        <div *ngIf="isStudent() else elseblock" routerLink="/class/{{event.id}}/enroll">
          <b>{{event.courseName}}</b><br>
          Classroom: <b >{{event.roomName}}</b><br>
          Teacher: <b> {{event.teacherFirstName.charAt(0)+'. '+ event.teacherLastName}}</b><br>
          Capacity: <b >{{event.capacity}} </b>
        </div>
        <ng-template #elseblock >
          <div  routerLink="/class/{{event.id}}">
            <b>{{event.courseName}}</b><br>
            Classroom: <b >{{event.roomName}}</b><br>
            Teacher: <b> {{event.teacherFirstName.charAt(0)+'. '+ event.teacherLastName}}</b><br>
            Capacity: <b >{{event.capacity}} </b>
          </div>
        </ng-template>
      </div>
      <ng-template #elseblock >
        <div class="liber" routerLink="/addSchedule"></div>
      </ng-template>
    </div>
  </div>
</div>


<!--
<div *ngFor="let classDTO of classDTOarray">
  <p>{{classDTO.courseName}}</p>
</div>
-->

<!--
<p *ngFor="let u of users">
  {{u.id + " " + u.lastName}}
</p>
-->
